altgraph==0.17.4
et-xmlfile==1.1.0
macholib==1.16.3
numpy==1.26.4
openpyxl==3.1.2
packaging==24.1
pandas==2.2.2
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==70.0.0
six==1.16.0
tk==0.1.0
tzdata==2024.1
